@using Silvester.Pathfinder.Official.Web.Shared.Tables.Builder
@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql

<div>
    <GraphqlTable Model="@GetModel()" GetPage="@GetPage" TSortInput="LanguageTypeSortInput" TEntity="ILanguageTypesPage" />
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public TableModel<ILanguageTypesPage> GetModel()
    {
        return new TableBuilder<ILanguageTypesPage>()
        {
            Title = "Language Types",
        }
        .AddTextColumn(e => e.Name, "Name", nameof(ILanguageTypesPage.Name), true)
        .AddInspectColumn(NavigationManager, e => $"language-types/{e.Id}")
        .Build();
    }

    public async Task<TableData<ILanguageTypesPage>> GetPage(LanguageTypeSortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetLanguageTypesPageResult> result = await PathfinderOfficialApi.GetLanguageTypesPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<ILanguageTypesPage> page = new TableData<ILanguageTypesPage>()
        {
            TotalItems = result.Data!.LanguageTypes!.TotalCount,
            Items = result.Data!.LanguageTypes!.Items!
        };

        return page;
    }
}