body {
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.mud-input-adornment svg {
    margin-right: 8px 
}

.mud-table-cell {
    white-space: nowrap
}

.mud-table-head tr th span {
    padding-top: 2px;
}

.mud-table-head tr th span svg {
    margin-top: -2px;
}

.app-loader {

}