@using Silvester.Pathfinder.Official.Web.Pages.Races.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Shared.Layout;

@page "/races"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <RacesTable />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string Title => "Races";
}