@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;

@if(Trait != null)
{
    <ComponentDetailsCard TEntity="ITraitById" Entity="@Trait">
        <Title>
            <MudText Typo="Typo.h6">Trait</MudText>
        </Title>
        <LeftContent>
            <PreferenceCategory Title="Details">
                <PreferenceItemText Title="Name" Text="@context.Name" />
                <PreferenceItemText Title="Id" Text="@context.Id.ToString()" />
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
            <PreferenceCategory Title="Description">
                <PreferenceItemText Text="@context.Description" />
            </PreferenceCategory>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public ITraitById? Trait { get; set; }
}