@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/alchemical-poisons/{alchemicalPoisonId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        @if (Poison != null)
        {
            <MudPaper Style="margin: 20px">
                <AlchemicalPoisonDetailsCard Entity="@Poison" />
            </MudPaper>

            <AlchemicalPoisonPotenciesCard AlchemicalPoison="@Poison" />
        }
    </PageLayout>
</div>

@code {
    protected override string Title => "Alchemical Poisons";
    protected override string? Subtitle => Poison?.Name;

    [Parameter]
    public Guid AlchemicalPoisonId { get; set; }

    private IAlchemicalPoisonById? Poison { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        StoreSession = PathfinderOfficialApi.GetAlchemicalPoisonById
            .Watch(AlchemicalPoisonId)
            .Select(e => e.Data?.AlchemicalPoisons?.Items?.FirstOrDefault())
            .Subscribe(poison =>
            {
                Poison = poison;
                StateHasChanged();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}