@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Armors;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Armors.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/armor-categories/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        @if (ArmorCategory != null)
        {
            <MudPaper Style="margin: 20px">
                <ArmorCategoryDetailsCard Entity="@ArmorCategory" />
            </MudPaper>

            <MudPaper Style="margin: 20px">
                <ArmorsTable PageProvider="@(new ArmorPageWithCategoryProvider(PathfinderOfficialApi, ResourceId))" />
            </MudPaper>
        }
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "armor-categories";
    protected override string? ResourceName => ArmorCategory?.Name;

    private IGetArmorCategoryById_ArmorCategories_Items? ArmorCategory { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetArmorCategoryById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.ArmorCategories?.Items?.FirstOrDefault())
            .Subscribe(deityCategory =>
            {
                ArmorCategory = deityCategory;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}