@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/armor-property-runes/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <ArmorPropertyRuneDetailsCard Entity="@ArmorPropertyRune" />
        </MudPaper>

        @if (ArmorPropertyRune != null)
        {
            @if (ArmorPropertyRune.Action != null)
            {
                <MudPaper Style="margin: 20px">
                    <ArmorPropertyRuneActionDetailsCard Entity="@ArmorPropertyRune.Action" />
                </MudPaper>
            }
        }
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "armor-property-runes";
    protected override string? ResourceName => ArmorPropertyRune?.Name;

    private IArmorPropertyRuneById? ArmorPropertyRune { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetArmorPropertyRuneById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.ArmorPropertyRunes?.Items?.FirstOrDefault())
            .Subscribe(weaponPropertyRune =>
            {
                ArmorPropertyRune = weaponPropertyRune;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}