@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@implements IDisposable

@page "/feats/{resourceId:guid}"

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <FeatDetailsCard Entity="@Feat" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "feats";
    protected override string? ResourceName => Feat?.Name;

    private IGetFeatById_Feats_Items? Feat { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetFeatById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.Feats?.Items?.FirstOrDefault())
            .Subscribe(feat =>
            {
                Feat = feat;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}