@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.ItemCurses;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.ItemCurses.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;

@page "/item-curses"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <ItemCursesTable Title="Item Curses" PageProvider="@(new ItemCursePageProvider(PathfinderOfficialApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string Title => "Item Curses";
}