@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Languages;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Languages.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.LanguageTypes;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.LanguageTypes.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;

@page "/languages"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                <MudTabPanel Text="Languages">
                    <LanguagesTable PageProvider="@(new LanguagePageProvider(PathfinderOfficialApi))" />
                </MudTabPanel>
                <MudTabPanel Text="Types">
                    <LanguageTypesTable PageProvider="@(new LanguageTypePageProvider(PathfinderOfficialApi))" />
                </MudTabPanel>
            </MudTabs>
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string Title => "Languages";
}