@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;

@page "/magic-essences"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        @if(Essences != null)
        {
            foreach(IMagicEssence Essence in Essences)
            {
        <MudPaper Style="margin: 20px;">
            <MagicEssenceCard Essence="@Essence" />
        </MudPaper>
            }
        }

    </PageLayout>

</div>


@code {
    protected override string Title => "Magic Essences";

    private IReadOnlyList<IMagicEssence> Essences { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        IOperationResult<IGetMagicEssencesResult> result = await PathfinderOfficialApi.GetMagicEssences
            .ExecuteAsync();

        Essences = result.Data!.MagicEssences!.Items!;
    }
}