@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Heritages;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Heritages.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/melee-weapons/{meleeWeaponId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <MeleeWeaponDetailsCard Entity="@MeleeWeapon" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string Title => "Melee Weapons";
    protected override string? Subtitle => MeleeWeapon?.Name;

    [Parameter]
    public Guid MeleeWeaponId { get; set; }

    private IGetMeleeWeaponById_MeleeWeapons_Items? MeleeWeapon { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        StoreSession = PathfinderOfficialApi.GetMeleeWeaponById
        .Watch(MeleeWeaponId, StrawberryShake.ExecutionStrategy.NetworkOnly)
        .Select(e => e.Data?.MeleeWeapons?.Items?.FirstOrDefault())
        .Subscribe(shield =>
        {
            MeleeWeapon = shield;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}