@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/planes/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <PlaneDetailsCard Entity="@Plane" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "planes";
    protected override string? ResourceName => Plane?.Name;

    private IGetPlaneById_Planes_Items? Plane { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetPlaneById
            .Watch(ResourceId)
            .Select(e => e.Data?.Planes?.Items?.FirstOrDefault())
            .Subscribe(plane =>
            {
                Plane = plane;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}