::deep .mud-table-head {
}

::deep .mud-table-toolbar {
    padding: 0px;
    height: auto;
}

::deep .mud-input-text {
    margin-top: 0px !important;
}

::deep .mud-table-container {
    position: relative;
}
