<MudTd Style="position: relative; width: 100vw;" DataLabel="@DataLabel">
    <div style="text-overflow: ellipsis; white-space: nowrap; position: absolute; overflow: hidden; width: 100%; transform: translateY(-50%); padding-right: 36px;">
        @Text
    </div>
</MudTd>
