@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Pages.Traits.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Pages.Magic.Components.Overview.Components;
 
@page "/magic-components"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        @if(MagicComponents != null)
        {
            foreach(IMagicComponent component in MagicComponents)
            {
                <MudPaper Style="margin: 20px;">
                    <MagicComponentCard MagicComponent="@component" />
                </MudPaper>
            }
        }

    </PageLayout>

</div>


@code {
    protected override string Title => "Magic Components";

    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;


    private IReadOnlyList<IMagicComponent> MagicComponents { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        IOperationResult<IGetMagicComponentsResult> result = await PathfinderOfficialApi.GetMagicComponents
            .ExecuteAsync();

        MagicComponents = result.Data!.SpellComponents!.Items!;
    }
}