<div class="preference-item preference-item-chips" style="margin-right: 20px;">
    @{
        if (string.IsNullOrWhiteSpace(Title) == false)
        {
            <p class="preference-item-title" style="font-weight: bold; margin-bottom:5px;">@Title</p>
        }
    }
    <div style="display: flex; flex-direction: row; display: inline-block;">
        @Chips
    </div>
</div>