 
<div class="isolation-wrapper">
    <div class="preference-category">
        @if(string.IsNullOrWhiteSpace(Title) == false)
        {
            <p class="category-title">@Title</p>
        }
        @ChildContent
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}