@using Silvester.Pathfinder.Official.Web.Shared.Graphics;
@using Silvester.Pathfinder.Official.Web.Shared.Graphics.ActionTypeIcons;

@if (string.IsNullOrWhiteSpace(Text) == false)
{
    <div class="preference-item preference-item-text" style="margin-right: 20px;">
        @{
            if (string.IsNullOrWhiteSpace(Title) == false)
            {
                <p class="preference-item-title">@Title</p>
            }
        }
        <div style="display: flex; flex-direction: row; ">
            @if (Icon != null && string.IsNullOrWhiteSpace(Icon.Svg) == false)
            {
                <div style="padding-right: 12px;">
                    <IconModelAdapter Model="@Icon" />
                </div>
            }
            <p class="preference-item-text">@Text</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Title { get; set; } = default!;

    [Parameter]
    public string? Text { get; set; } = default!;

    [Parameter]
    public IconModel? Icon { get; set; }
}