@using Silvester.Pathfinder.Official.Web.Shared.Footers; 

<div class="preference-item preference-item-footer" style="margin-right: 20px;">
    <IconFooterBar Items="@Items" />
</div>

@code {
    [Parameter]
    public IEnumerable<IconFooterBar.Item> Items { get; set; } = default!;
}