@using Silvester.Pathfinder.Official.Web.Pages.Feats.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Shared.Layout;

@page "/feats"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <FeatsTable />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    protected override string Title => "Feats";

    public void OnInspectClicked(IFeatsPage feat)
    {
        NavigationManager.NavigateTo($"/feats/{feat.Id}");
    }

    public async Task<TableData<IFeatsPage>> GetPage(FeatSortInput[] sortInputs, TableState state, string? searchTerm)
    {
        IOperationResult<IGetFeatsPageResult> result = await PathfinderOfficialApi.GetFeatsPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm ?? "", sortInputs);

        TableData<IFeatsPage> page = new TableData<IFeatsPage>()
        {
            TotalItems = result.Data!.Feats!.TotalCount,
            Items = result.Data!.Feats!.Items!
        };

        return page;
    }
}