@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Pages.Alignments.Details.Components;

@inherits BaseDetailPage
@page "/alignments/{alignmentId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        @if (Alignment != null)
        {
            <MudPaper Style="margin: 20px">
                <DetailsCard Alignment="@Alignment" />
            </MudPaper>

            <MudPaper Style="margin: 20px">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                    <MudTabPanel Text="Deities">
                        <DeitiesTable Alignment="@Alignment" />
                    </MudTabPanel>
                    <MudTabPanel Text="Planes">
                        <PlanesTable Alignment="@Alignment" />
                    </MudTabPanel>
                </MudTabs>
            </MudPaper>
        }
    </PageLayout>
</div>

@code {
    protected override string Title => "Alignment";
    protected override string? Subtitle => Alignment?.Name;

    [Parameter]
    public Guid AlignmentId { get; set; }

    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    private IAlignmentById? Alignment { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        StoreSession = PathfinderOfficialApi.GetAlignmentById
            .Watch(AlignmentId)
            .Select(e => e.Data?.Alignments?.Items?.FirstOrDefault())
            .Subscribe(alignment =>
            {
                Alignment = alignment;
                StateHasChanged();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}