body {
    overflow-x: hidden;
}

.mud-input-adornment svg {
    margin-right: 8px 
}

.mud-table-cell {
    white-space: nowrap
}

.mud-table-head tr th span {
    padding-top: 2px;
}

.mud-table-head tr th span svg {
    margin-top: -2px;
}

@media (min-width: 960px)
{
    .mud-drawer-open-responsive-md-left .mud-main-content
    {
        margin-left: 257px;
    }
}

svg {
    display: block;
}

i {
    font-style: italic;
}