@using Silvester.Pathfinder.Official.Web.Pages.Actions.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Shared.Layout;

@page "/actions"
@inherits BaseOverviewPage

<div>
    <PageLayout>
        
        <MudPaper Style="margin: 20px;">
            <ActionsTable />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string Title => "Actions";
}