@using Silvester.Pathfinder.Official.Web.Pages.Deities.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Shared.Layout;

@page "/deities"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <DeitiesTable />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string Title => "Deities";
}