@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Pages.Deities.Details.Components;

@inherits BaseDetailPage
@page "/deity-categories/{deityCategoryId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        @if (DeityCategory != null)
        {
            <MudPaper Style="margin: 20px">
                <DeityCategoryDetailsCard DeityCategory="@DeityCategory" />
            </MudPaper>

            <MudPaper Style="margin: 20px">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                    <MudTabPanel Text="Deities">
                        <DeitiesTable DeityCategory="@DeityCategory" />
                    </MudTabPanel>
                </MudTabs>
            </MudPaper>
        }
    </PageLayout>
</div>

@code {
    protected override string Title => "Deity Categories";
    protected override string? Subtitle => DeityCategory?.Name;

    [Parameter]
    public Guid DeityCategoryId { get; set; }

    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    private IGetDeityCategoryById_DeityCategories_Items? DeityCategory { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        StoreSession = PathfinderOfficialApi.GetDeityCategoryById
            .Watch(DeityCategoryId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.DeityCategories?.Items?.FirstOrDefault())
            .Subscribe(deityCategory =>
            {
                DeityCategory = deityCategory;
                StateHasChanged();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}