<div>
    <MudGrid Class="background-wrapper" Spacing="0" Justify="Justify.Center">
        <MudItem xs="10" sm="10" md="10" lg="10" xl="8">
            <MudGrid Class="content" Spacing="2" Justify="Justify.Center">

                <MudItem xs="12" sm="4">
                    <div class="wrapper">
                        <p class="header">Contributing</p>
                        <a class="item" Href="pages/frequently-asked-questions/latest">Frequently Asked Questions</a>
                        <a class="item" Href="https://www.patreon.com/pf2e_io">Become a Patron</a>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="4" >
                    <div class="wrapper">
                        <a class="header">Documentation</a>
                        <a class="item" Href="https://pf2e.io/api/graphql">GraphQL</a>
                        <a class="item" Href="https://pf2e.io/api/swagger">REST</a>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="4">
                    <div class="wrapper">
                        <a class="header">Documents</a>
                        <a class="item" Href="pages/privacy-policies/latest">Privacy Policy</a>
                        <a class="item" Href="pages/license-agreements/latest">License Agreement</a>
                    </div>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>

    <MudGrid Class="copyright" Spacing="0">
        <MudItem xs="12">
            <MudText>© Silvester Consultancy - 2021</MudText>
        </MudItem>
    </MudGrid>
</div>

@code {

} 