@inherits BaseDetailPage
@implements IDisposable

@page "/feats/{featId:guid}"

@using Silvester.Pathfinder.Official.Web.Pages.Feats.Details.Components;
@using Silvester.Pathfinder.Official.Web.Shared.Layout;

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">

            @if (Feat != null)
            {
                <DetailsCard Feat="@Feat" />
            }

        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string Title => "Feats";
    protected override string? Subtitle => Feat?.Name;

    [Parameter]
    public Guid FeatId { get; set; }

    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    private IFeatById? Feat { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        StoreSession = PathfinderOfficialApi.GetFeatById
            .Watch(FeatId, StrawberryShake.ExecutionStrategy.CacheFirst)
            .Select(e => e.Data?.Feats?.Items?.FirstOrDefault())
            .Subscribe(feat =>
            {
                Feat = feat;
                StateHasChanged();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}