@using Silvester.Pathfinder.Official.Web.Pages.Overviews
@using Silvester.Pathfinder.Official.Web.Pages.Overviews.Spells
@using Silvester.Pathfinder.Official.Web.Shared.Tables

@page "/spells"
@inherits BaseOverviewPage

<div>
    
</div>