@using Silvester.Pathfinder.Reference.Web.Shared.Preferences;
@using Silvester.Pathfinder.Reference.Web.Shared.Cards;
@using Silvester.Pathfinder.Reference.Web.Shared.Tables;
@using Silvester.Pathfinder.Reference.Web.Services;
@using Silvester.Pathfinder.Reference.Web.Shared.Chips;
@using Silvester.Pathfinder.Reference.Web.Services.Currencies;
@using Silvester.Pathfinder.Reference.Web.Shared.Footers;

@if (AlchemicalBomb != null)
{
<div>
    @foreach (IAlchemicalBombById_Potency potency in AlchemicalBomb.Potencies.OrderBy(e => e.PotionPotency.Order))
    {
    <MudPaper Style="margin:20px;">
        <CardToolbar>
            <MudText Typo="@Typo.h6">@potency.PotionPotency.Name</MudText>
            <MudToolBarSpacer />
        </CardToolbar>
        <MudDivider />
        <PreferenceCategory Title="Description">
            <PreferenceItemText Text="@potency.Benefits" />
        </PreferenceCategory>
        <MudDivider />
        <PreferenceCategory>
            <PreferenceItemFooter Items="GetFooterItems(potency)"></PreferenceItemFooter>
        </PreferenceCategory>
    </MudPaper>
    }
</div>
}

@code {
    [Parameter]
    public IAlchemicalBombById AlchemicalBomb { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    public ICurrencyService CurrencyService { get; set; } = default!;

    public IEnumerable<IconFooterBar.Item> GetFooterItems(IAlchemicalBombById_Potency potency)
    {
        yield return new IconFooterBar.Item((MarkupString)Silvester.Pathfinder.Reference.Icons.Generated.Slider, potency.Level.ToString(), "Level");
        yield return new IconFooterBar.Item((MarkupString)Silvester.Pathfinder.Reference.Icons.Generated.Coins, CurrencyService.Denormalize(potency.Price, Coin.Types.Gold).ToString(), "Price");
    }
}