@using Silvester.Pathfinder.Official.Web.Shared.Tables.Builder
@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql

<div>
    <GraphqlTable Model="@GetModel()" GetPage="@GetPage" TSortInput="AlignmentSortInput" TEntity="IAlignmentsPage" />
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public TableModel<IAlignmentsPage> GetModel()
    {
        return new TableBuilder<IAlignmentsPage>()
        {
            Title = "Alignments",
        }
        .AddTextColumn(e => e.Name, "Name", nameof(IAlignmentsPage.Name), true)
        .AddTextColumn(e => e.Description, "Description", nameof(IAlignmentsPage.Description))
        .AddInspectColumn(NavigationManager, e => $"alignments/{e.Id}")
        .Build();
    }

    public async Task<TableData<IAlignmentsPage>> GetPage(AlignmentSortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetAlignmentsPageResult> result = await PathfinderOfficialApi.GetAlignmentsPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<IAlignmentsPage> page = new TableData<IAlignmentsPage>()
        {
            TotalItems = result.Data!.Alignments!.TotalCount,
            Items = result.Data!.Alignments!.Items!
        };

        return page;
    }
}