@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Armors;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Armors.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;
@using Silvester.Pathfinder.Official.Documents.Models;
@using Silvester.Pathfinder.Official.Web.Pages.Documents.Components;
@using System.Text.Json;
@using Silvester.Pathfinder.Official.Web.Shared.Hidden; 

@page "/pages/donating"

<div style="height: 100%">
    <PageLayout Style="height: 100%;">
        <MudGrid Spacing="2" Justify="Justify.Center" Style="height: 100%;">
            <MudItem xs="10" sm="10" md="8" lg="6" Style="display: flex; flex-direction: column; justify-content: center;">
                <PotentiallyHidden HideBelow="@Breakpoint.SmAndDown">

                    <ChildContent>
                        <MudText Typo="Typo.h2" Style="text-align: center; font-weight: bold; margin-bottom: 15px;">Thanks for considering a donation.</MudText>
                        <MudText Style="text-align: center; ">Whether you're donating to support additional development, to cover operational costs, or just to buy me a beer, know that it's greatly appreciated.'</MudText>
                        <MudText Typo="Typo.h4" Style="text-align: center; margin-top: 25px; font-weight: bold; margin-bottom: 15px;">However..</MudText>
                        <MudText Style="text-align: center;">If you are not self-sufficient (e.g. a student, or living paycheck to paycheck) or there is some other, more beneficial way for you to spend the money, please keep it, or consider donating it to charity.</MudText>

                        <div style="margin-left: auto; margin-right: 0;">
                            <MudButton Color="Color.Primary" Style="margin-top: 40px; width: 150px; text-align: end;" Variant="Variant.Filled" OnClick="@OnDonateButtonClickAsync">Donate</MudButton>
                        </div>
                    </ChildContent>

                    <ContentWhenHidden>
                        <MudText Typo="Typo.h5" Style="text-align: center; font-weight: bold; margin-bottom: 15px;">Thanks for considering a donation.</MudText>
                        <MudText Style="text-align: center; ">Whether you're donating to support additional development, to cover operational costs, or just to buy me a beer, know that it's greatly appreciated.'</MudText>
                        <MudText Typo="Typo.h6" Style="text-align: center; margin-top: 25px; font-weight: bold; margin-bottom: 15px;">However..</MudText>
                        <MudText Style="text-align: center;">If you are not self-sufficient (e.g. a student, or living paycheck to paycheck) or there is some other, more beneficial way for you to spend the money, please keep it, or consider donating it to charity.</MudText>

                        <div style="margin-left: auto; margin-right: auto;">
                            <MudButton Color="Color.Primary" Style="margin-top: 40px; width: 150px; text-align: end;" Variant="Variant.Filled" OnClick="@OnDonateButtonClickAsync">Donate</MudButton>
                        </div>
                    </ContentWhenHidden>
                </PotentiallyHidden>
               
            </MudItem>
        </MudGrid>
    </PageLayout>
</div>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; } = default!;

    public async Task OnDonateButtonClickAsync()
    {
        await JSRuntime.InvokeAsync<object>("open", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VC5AM6HAJPPFJ&source=url", "_blank");
    }
}
