@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Pages.Traits.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Pages.Magic.Essences.Overview.Components;
 
@page "/magic-essences"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        @if(Essences != null)
        {
            foreach(IMagicEssence Essence in Essences)
            {
                <MudPaper Style="margin: 20px;">
                    <MagicEssenceCard Essence="@Essence" />
                </MudPaper>
            }
        }

    </PageLayout>

</div>


@code {
    protected override string Title => "Magic Essences";

    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;


    private IReadOnlyList<IMagicEssence> Essences { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        IOperationResult<IGetMagicEssencesResult> result = await PathfinderOfficialApi.GetMagicEssences
            .ExecuteAsync();

        Essences = result.Data!.MagicEssences!.Items!;
    }
}