@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;
@using Silvester.Pathfinder.Official.Web.Shared.Chips;
@using Silvester.Pathfinder.Official.Web.Shared.Footers;
@using Silvester.Pathfinder.Official.Web.Components.Footers;

@if (ConditionCategory != null)
{
    <ComponentDetailsCard TEntity="IConditionCategoryById" Entity="@ConditionCategory">
        <Title>
            <MudText Typo="Typo.h6">Condition Category</MudText>
        </Title>
        <Actions>
        </Actions>
        <LeftContent>
            <PreferenceCategory Title="Details">
                <PreferenceItemText Title="Name" Text="@context.Name" />
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public IConditionCategoryById ConditionCategory { get; set; } = default!;
}