@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;
@using Silvester.Pathfinder.Official.Web.Shared.Chips;

@if (PlaneCategory != null)
{
    <ComponentDetailsCard TEntity="IGetPlaneCategoryById_PlaneCategories_Items" Entity="@PlaneCategory">
        <Title>
            <MudText Typo="Typo.h6">Plane Category</MudText>
        </Title>
        <Actions>
        </Actions>
        <LeftContent>
            <PreferenceCategory Title="Details">
                <PreferenceItemText Title="Name" Text="@context.Name" />
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
            <PreferenceCategory Title="Description">
                <PreferenceItemText Text="@context.Description" />
            </PreferenceCategory>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public IGetPlaneCategoryById_PlaneCategories_Items PlaneCategory { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;
}