@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Pages.Traits.Overview.Components;

@page "/traits"
@inherits BaseOverviewPage

<div>
    <PageLayout>
        
        <MudPaper Style="margin: 20px;">
            <TraitsTable />
        </MudPaper>

    </PageLayout>

</div>


@code {
    protected override string Title => "Traits";
}