@using Silvester.Pathfinder.Official.Web.Pages.Skills.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Shared.Layout;

@page "/skills"
@inherits BaseOverviewPage

<div>
    <PageLayout>
        
        <MudPaper Style="margin: 20px;">
            <SkillsTable />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string Title => "Skills";
}