@using Silvester.Pathfinder.Official.Web.Pages.Spells.Overview.Components;
@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Pages.Spells.Overview.Components;

@page "/spells"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <SpellsTable />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string Title => "Spells";
}