@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Actions;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Actions.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/actions"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <ActionsTable Title="Actions" PageProvider="@(new ActionPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "actions";
}