@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/actions/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <ActionDetailsCard Entity="@Action" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "actions";
    protected override string? ResourceName => Action?.Name;


    private IGetActionById_Actions_Items? Action { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetActionById
            .Watch(ResourceId)
            .Select(e => e.Data?.Actions?.Items?.FirstOrDefault())
            .Subscribe(action =>
            {
                Action = action;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}