@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AdventuringGears;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AdventuringGears.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/adventuring-gears"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <AdventuringGearsTable PageProvider="@(new AdventuringGearPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "adventuring-gears";
} 