@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AlchemicalBombs;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AlchemicalBombs.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/alchemical-bombs"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <AlchemicalBombsTable Title="Alchemical Bombs" PageProvider="@(new AlchemicalBombPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "alchemical-bombs";
}