@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AlchemicalTools;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AlchemicalTools.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/alchemical-tools"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <AlchemicalToolsTable Title="Alchemical Tools" PageProvider="@(new AlchemicalToolPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "alchemical-tools";
}