@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AlchemicalElixirs;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.AlchemicalElixirs.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/alchemical-elixirs"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <AlchemicalElixirsTable Title="Alchemical Elixirs" PageProvider="@(new AlchemicalElixirPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "alchemical-elixirs";
}