@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/alchemical-tools/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <AlchemicalToolDetailsCard Entity="@Tool" />
        </MudPaper>

        <AlchemicalToolPotenciesCard AlchemicalTool="@Tool" />
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "alchemical-tools";
    protected override string? ResourceName => Tool?.Name;

    private IAlchemicalToolById? Tool { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetAlchemicalToolById
            .Watch(ResourceId)
            .Select(e => e.Data?.AlchemicalTools?.Items?.FirstOrDefault())
            .Subscribe(tool =>
            {
                Tool = tool;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}