@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Alignments;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Alignments.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/alignments"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <AlignmentsTable Title="Alignments" PageProvider="@(new AlignmentPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "alignments";
}