@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Armors;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Armors.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/armor-groups/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        @if (ArmorGroup != null)
        {
            <MudPaper Style="margin: 20px">
                <ArmorGroupDetailsCard Entity="@ArmorGroup" />
            </MudPaper>

            <MudPaper Style="margin: 20px">
                <ArmorsTable PageProvider="@(new ArmorPageWithGroupProvider(PathfinderOfficialApi, ResourceId))" />
            </MudPaper>
        }
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "armor-groups";
    protected override string? ResourceName => ArmorGroup?.Name;

    private IGetArmorGroupById_ArmorGroups_Items? ArmorGroup { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetArmorGroupById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.ArmorGroups?.Items?.FirstOrDefault())
            .Subscribe(deityGroup =>
            {
                ArmorGroup = deityGroup;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}