@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Artifacts;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Artifacts.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/artifacts"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <ArtifactsTable Title="Artifacts" PageProvider="@(new ArtifactPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "artifacts";
}