@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Classes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Classes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/classes"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <ClassesTable Title="Classes" PageProvider="@(new ClassPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "classes";
}