@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Planes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Planes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Deities;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Deities.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/conditions/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        @if (Condition != null)
        {
            <MudPaper Style="margin: 20px">
                <ConditionDetailsCard Entity="@Condition" />
            </MudPaper>
        }
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "conditions";
    protected override string? ResourceName => Condition?.Name;

    private IConditionById? Condition { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetConditionById
            .Watch(ResourceId)
            .Select(e => e.Data?.Conditions?.Items?.FirstOrDefault())
            .Subscribe(curse =>
            {
                Condition = curse;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}