@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Planes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Planes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Deities;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Deities.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/curses/{ResourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <CurseDetailsCard Entity="@Curse" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "Curse";
    protected override string? ResourceName => Curse?.Name;

    private ICurseById? Curse { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetCurseById
            .Watch(ResourceId)
            .Select(e => e.Data?.Curses?.Items?.FirstOrDefault())
            .Subscribe(curse =>
            {
                Curse = curse;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}