@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Diseases;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Diseases.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/diseases"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <DiseasesTable Title="Diseases" PageProvider="@(new DiseasePageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>
</div>

@code
{
    protected override string CollectionName => "diseases";
}