@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/divine-fonts"
@inherits BaseOverviewPage
@implements IDisposable

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px">
            <DivineFontIntroductionCard />
        </MudPaper>

        <MudPaper Style="margin: 20px">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                @foreach (var font in DivineFonts)
                {
                    <MudTabPanel Text="@font.Name">
                        <DivineFontCard DivineFont="@font" />
                    </MudTabPanel>
                }
            </MudTabs>
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "divine-fonts";

    private IDisposable? StoreSession { get; set; }

    private IReadOnlyList<IGetDivineFonts_DivineFonts_Items> DivineFonts { get; set; } = new List<IGetDivineFonts_DivineFonts_Items>();

    protected override void OnInitialized()
    {
        StoreSession = PathfinderReferenceApi.GetDivineFonts
            .Watch()
            .Subscribe(divineFonts =>
            {
                DivineFonts = divineFonts!.Data!.DivineFonts!.Items!;
                StateHasChanged();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}