@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/fundamental-armor-runes/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <FundamentalArmorRuneDetailsCard Entity="@FundamentalArmorRune" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "Fundamental Armor Rune";
    protected override string? ResourceName => FundamentalArmorRune?.Name;

    private IFundamentalArmorRuneById? FundamentalArmorRune { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetFundamentalArmorRuneById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.FundamentalArmorRunes?.Items?.FirstOrDefault())
            .Subscribe(fundamentalArmorRune =>
            {
                FundamentalArmorRune = fundamentalArmorRune;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}