@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Planes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Planes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Hazards;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Hazards.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/hazard-types/{ResourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <HazardTypeDetailsCard Entity="@HazardType" />
        </MudPaper>

        <MudPaper Style="margin: 20px">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                <MudTabPanel Text="Hazards">
                    <HazardsTable PageProvider="@(new HazardPageWithTypeProvider(PathfinderReferenceApi, ResourceId))" />
                </MudTabPanel>
            </MudTabs>
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "hazard-types";
    protected override string? ResourceName => HazardType?.Name;

    private IHazardTypeById? HazardType { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetHazardTypeById
            .Watch(ResourceId)
            .Select(e => e.Data?.HazardTypes?.Items?.FirstOrDefault())
            .Subscribe(type =>
            {
                HazardType = type;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}