@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Races;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Races.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@inherits BaseDetailPage
@implements IDisposable
@page "/languages/{resourceId:guid}"

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                <MudTabPanel Text="Races">
                    <RacesTable PageProvider="@(new RacePageWithLanguageProvider(PathfinderReferenceApi, ResourceId))" />
                </MudTabPanel>
            </MudTabs>
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "languages";
    protected override string? ResourceName => Language?.Name;

    private IGetLanguageById_Languages_Items? Language { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetLanguageById
            .Watch(ResourceId)
            .Select(e => e.Data?.Languages?.Items?.FirstOrDefault())
            .Subscribe(language =>
            {
                Language = language;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}