@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/magic-traditions"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        @if(MagicTraditions != null)
        {
            foreach(IMagicTradition tradition in MagicTraditions)
            {
                <MudPaper Style="margin: 20px;">
                    <MagicTraditionCard MagicTradition="@tradition" Inspectable="true" />
                </MudPaper>
            }
        }

    </PageLayout>

</div>


@code {
    protected override string CollectionName => "magic-traditions";

    private IReadOnlyList<IMagicTradition> MagicTraditions { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        IOperationResult<IGetMagicTraditionsResult> result = await PathfinderReferenceApi.GetMagicTraditions
            .ExecuteAsync();

        MagicTraditions = result.Data!.MagicTraditions!.Items!;
    }
}