@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/magic-schools"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        @if(Schools != null)
        {
            foreach(IMagicSchool school in Schools)
            {
                <MudPaper Style="margin: 20px;">
                    <MagicSchoolCard MagicSchool="@school" Inspectable="true" />
                </MudPaper>
            }
        }

    </PageLayout>

</div>


@code {
    protected override string CollectionName => "magic-schools";

    private IReadOnlyList<IMagicSchool> Schools { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        IOperationResult<IGetMagicSchoolsResult> result = await PathfinderReferenceApi.GetMagicSchools
            .ExecuteAsync();

        Schools = result.Data!.MagicSchools!.Items!;
    }
}