@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/magic-components"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        @if(MagicComponents != null)
        {
            foreach(IMagicComponent component in MagicComponents)
            {
                <MudPaper Style="margin: 20px;">
                    <MagicComponentCard MagicComponent="@component" Inspectable="true" />
                </MudPaper>
            }
        }

    </PageLayout>

</div>


@code {
    protected override string CollectionName => "magic-components";

    private IReadOnlyList<IMagicComponent> MagicComponents { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        IOperationResult<IGetMagicComponentsResult> result = await PathfinderReferenceApi.GetMagicComponents
            .ExecuteAsync();

        MagicComponents = result.Data!.SpellComponents!.Items!;
    }
}