@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Spells;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Spells.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@inherits BaseDetailPage
@implements IDisposable

@page "/magic-components/{resourceId:guid}"

<div>
    <PageLayout>
        @if (MagicComponent != null)
        {
            <MudPaper Style="margin: 20px">
                <MagicComponentCard MagicComponent="@MagicComponent" />
            </MudPaper>
        }

        <MudPaper Style="margin: 20px">
            <SpellsTable IsSearchEnabled="false" PageProvider="@(new SpellPageWithComponentProvider(PathfinderReferenceApi, ResourceId))" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "magic-schools";
    protected override string? ResourceName => MagicComponent?.Name;

    private IMagicComponentById? MagicComponent { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetMagicComponentById
            .Watch(ResourceId)
            .Select(e => e.Data?.SpellComponents?.Items?.FirstOrDefault())
            .Subscribe(magicComponent =>
            {
                MagicComponent = magicComponent;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}