@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Heritages;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Heritages.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/melee-weapons/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <MeleeWeaponDetailsCard Entity="@MeleeWeapon" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "melee-weapons";
    protected override string? ResourceName => MeleeWeapon?.Name;

    private IGetMeleeWeaponById_MeleeWeapons_Items? MeleeWeapon { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetMeleeWeaponById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.MeleeWeapons?.Items?.FirstOrDefault())
            .Subscribe(shield =>
            {
                MeleeWeapon = shield;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}