@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Mysteries;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Mysteries.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/mysteries"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <MysteriesTable PageProvider="@(new MysteryPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "mysteries";
}