@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Races;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Races.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.RaceRarities;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.RaceRarities.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/races"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                <MudTabPanel Text="Races">
                    <RacesTable PageProvider="@(new RacePageProvider(PathfinderReferenceApi))" />
                </MudTabPanel>
                <MudTabPanel Text="Rarities">
                    <RaceRaritiesTable PageProvider="@(new RaceRarityPageProvider(PathfinderReferenceApi))" />
                </MudTabPanel>
            </MudTabs>
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "races";
}