@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Skills;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Skills.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/skills"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <SkillsTable Title="Skills" PageProvider="@(new SkillPageProvider(PathfinderReferenceApi))" />
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "skills";
}