@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/spells/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <SpellDetailsCard Entity="@Spell" />
        </MudPaper>

        <MudPaper Style="margin: 20px; margin-top: 40px;">
            <SpellHeighteningsCard Spell="@Spell" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "spells";
    protected override string? ResourceName => Spell?.Name;

    private IGetSpellById_Spells_Items? Spell { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetSpellById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.Spells?.Items?.FirstOrDefault())
            .Subscribe(spell =>
            {
                Spell = spell;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}