@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;

@page "/stats"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        @if(Stats != null)
        {
            foreach(IStatsPage component in Stats)
            {
        <MudPaper Style="margin: 20px;">
            <StatCard Stat="@component" />
        </MudPaper>
            }
        }

    </PageLayout>

</div>


@code {
    protected override string CollectionName => "stats";

    private IReadOnlyList<IStatsPage> Stats { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        IOperationResult<IGetStatsResult> result = await PathfinderReferenceApi.GetStats
            .ExecuteAsync();

        Stats = result.Data!.Stats!.Items!;
    }
}