@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.RangedWeapons;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.RangedWeapons.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.MeleeWeapons;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.MeleeWeapons.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/weapon-categories/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        @if (WeaponCategory != null)
        {
            <MudPaper Style="margin: 20px">
                <WeaponCategoryDetailsCard Entity="@WeaponCategory" />
            </MudPaper>

            <MudPaper Style="margin: 20px">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                    <MudTabPanel Text="Melee">
                        <MeleeWeaponsTable PageProvider="@(new MeleeWeaponPageWithCategoryProvider(PathfinderOfficialApi, ResourceId))" />
                    </MudTabPanel>
                    <MudTabPanel Text="Ranged">
                        <RangedWeaponsTable PageProvider="@(new RangedWeaponPageWithCategoryProvider(PathfinderOfficialApi, ResourceId))" />
                    </MudTabPanel>
                </MudTabs>
            </MudPaper>
        }
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "weapon-categories";
    protected override string? ResourceName => WeaponCategory?.Name;

    private IGetWeaponCategoryById_WeaponCategories_Items? WeaponCategory { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetWeaponCategoryById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.WeaponCategories?.Items?.FirstOrDefault())
            .Subscribe(deityCategory =>
            {
                WeaponCategory = deityCategory;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}