<div style="width:100%; height: 150px; display: flex; justify-content: center; align-items: center;">
    <MudIcon Color="@Color.Dark" Icon="@Icons.Material.Filled.Search" Style="margin-right: 8px;" />
    <MudText Color="@Color.Default">Sorry, nothing to see here..</MudText>
</div>