@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Shared.Tables.Builder
@using Silvester.Pathfinder.Official.Web.Graphql
@using Silvester.Pathfinder.Official.Web.Services

<div>
    <GraphqlTable Model="@GetModel()" GetPage="@GetPage" TSortInput="SpellSortInput" TEntity="ISpellsPage" />
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    public IActionTypeService ActionTypeService { get; set; } = default!;

    public TableModel<ISpellsPage> GetModel()
    {
        return new TableBuilder<ISpellsPage>()
        {
            Title = "Spells",
        }
        .AddIconColumn(e => ActionTypeService.GetActionTypeIcon(e.ActionType!.Name), "Action", nameof(ISpellsPage.ActionType) + "." + nameof(ISpellsPage_ActionType.Name))
        .AddTextColumn(e => e.Name, "Name", nameof(ISpellsPage.Name), true)
        .AddTextColumn(e => e.MagicSchool.Name, "School", nameof(ISpellsPage.MagicSchool) + "." + nameof(ISpellsPage_MagicSchool.Name))
        .AddTextColumn(e => e.Level.ToString(), "Level", nameof(ISpellsPage.Level))
        .AddTextColumn(e => e.SpellType.Name, "Type", nameof(ISpellsPage.SpellType) + "." + nameof(ISpellsPage_SpellType.Name))
        .AddTextColumn(e => e.SavingThrowStat?.Name, "Saving Throw", nameof(ISpellsPage.SavingThrowStat) + "." + nameof(ISpellsPage_SavingThrowStat.Name))
        .AddTextColumn(e => e.Description, "Description", nameof(ISpellsPage.Description))
        .AddInspectColumn(NavigationManager, e => $"spells/{e.Id}")
        .Build();
    }

    public async Task<TableData<ISpellsPage>> GetPage(SpellSortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetSpellsPageResult> result = await PathfinderOfficialApi.GetSpellsPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<ISpellsPage> page = new TableData<ISpellsPage>()
        {
            TotalItems = result.Data!.Spells!.TotalCount,
            Items = result.Data!.Spells!.Items!
        };

        return page;
    }
}