::deep .wrapper
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

::deep h1
{
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

::deep .metadata .title
{
    font-weight: bold;
    line-height: 160%;
}

::deep .value
{
    line-height: 160%;
    text-align: end;
}

::deep .divider {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 1px;
    width: 100%;
    background-color: #D8D8D8;
}

::deep h2 {
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}

::deep h3
{
    text-decoration: underline;
    padding-bottom: 12px;
}

::deep .text-wrapper .text  {
    text-align: justify;
    padding-bottom: 20px;
}

::deep .text-wrapper::first-child
{
    padding-top: 0px;
}