@using Silvester.Pathfinder.Official.Web.Shared.Tables.Builder
@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql

<div>
    <GraphqlTable Model="@GetModel()" GetPage="@GetPage" TSortInput="PlaneSortInput" TEntity="IPlanesPage" />
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public TableModel<IPlanesPage> GetModel()
    {
        return new TableBuilder<IPlanesPage>()
        .AddTextColumn(e => e.Name, "Name", nameof(IPlanesPage.Name), true)
        .AddTextColumn(e => e.Category.Name, "Category", nameof(IPlanesPage.Category) + "." + nameof(IPlanesPage_Category.Name))
        .AddTextColumn(e => e.Alignment.Name, "Alignment", nameof(IPlanesPage.Alignment) + "." + nameof(IPlanesPage_Alignment.Name))
        .AddTextColumn(e => e.Description, "Description", nameof(IPlanesPage.Description))
        .AddInspectColumn(NavigationManager, e => $"planes/{e.Id}")
        .Build();
    }

    public async Task<TableData<IPlanesPage>> GetPage(PlaneSortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetPlanesPageResult> result = await PathfinderOfficialApi.GetPlanesPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<IPlanesPage> page = new TableData<IPlanesPage>()
        {
            TotalItems = result.Data!.Planes!.TotalCount,
            Items = result.Data!.Planes!.Items!
        };

        return page;
    }
}