@using Silvester.Pathfinder.Official.Web.Shared.Tables.Builder
@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql

<div>
    <GraphqlTable Model="@GetModel()" GetPage="@GetPage" TSortInput="PlaneCategorySortInput" TEntity="IPlaneCategoriesPage" />
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public TableModel<IPlaneCategoriesPage> GetModel()
    {
        return new TableBuilder<IPlaneCategoriesPage>()
        .AddTextColumn(e => e.Name, "Name", nameof(IPlaneCategoriesPage.Name), true)
        .AddTextColumn(e => e.Description, "Description", nameof(IPlaneCategoriesPage.Description))
        .AddInspectColumn(NavigationManager, e => $"plane-categories/{e.Id}")
        .Build();
    }

    public async Task<TableData<IPlaneCategoriesPage>> GetPage(PlaneCategorySortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetPlaneCategoriesPageResult> result = await PathfinderOfficialApi.GetPlaneCategoriesPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<IPlaneCategoriesPage> page = new TableData<IPlaneCategoriesPage>()
        {
            TotalItems = result.Data!.PlaneCategories!.TotalCount,
            Items = result.Data!.PlaneCategories!.Items!
        };

        return page;
    }
}