@using Silvester.Pathfinder.Official.Web.Shared.Tables.Builder
@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql

<div>
    <GraphqlTable Model="@GetModel()" GetPage="@GetPage" TSortInput="RaceRaritySortInput" TEntity="IRaceRaritiesPage" />
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public TableModel<IRaceRaritiesPage> GetModel()
    {
        return new TableBuilder<IRaceRaritiesPage>()
        .AddTextColumn(e => e.Name, "Name", nameof(IRaceRaritiesPage.Name), true)
        .AddInspectColumn(NavigationManager, e => $"race-rarities/{e.Id}")
        .Build();
    }

    public async Task<TableData<IRaceRaritiesPage>> GetPage(RaceRaritySortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetRaceRaritiesPageResult> result = await PathfinderOfficialApi.GetRaceRaritiesPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<IRaceRaritiesPage> page = new TableData<IRaceRaritiesPage>()
        {
            TotalItems = result.Data!.RaceRarities!.TotalCount,
            Items = result.Data!.RaceRarities!.Items!
        };

        return page;
    }
}