@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/classes/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <ClassDetailsCard Entity="@Class" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "Classes";
    protected override string? ResourceName => Class?.Name;

    private IGetClassById_Classes_Items? Class { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetClassById
            .Watch(ResourceId)
            .Select(e => e.Data?.Classes?.Items?.FirstOrDefault())
            .Subscribe(@class =>
            {
                Class = @class;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}