@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Planes;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Planes.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Deities;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Deities.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/diseases/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <DiseaseDetailsCard Entity="@Disease" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "diseases";
    protected override string? ResourceName => Disease?.Name;

    private IDiseaseById? Disease { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetDiseaseById
            .Watch(ResourceId)
            .Select(e => e.Data?.Diseases?.Items?.FirstOrDefault())
            .Subscribe(disease =>
            {
                Disease = disease;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}