@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Heritages;
@using Silvester.Pathfinder.Official.Web.Components.Tables.Instances.Heritages.Providers;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/ranged-weapons/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <RangedWeaponDetailsCard Entity="@RangedWeapon" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "ranged-weapons";
    protected override string? ResourceName => RangedWeapon?.Name;

    private IGetRangedWeaponById_RangedWeapons_Items? RangedWeapon { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetRangedWeaponById
            .Watch(ResourceId, StrawberryShake.ExecutionStrategy.NetworkOnly)
            .Select(e => e.Data?.RangedWeapons?.Items?.FirstOrDefault())
            .Subscribe(shield =>
            {
                RangedWeapon = shield;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}