@using Silvester.Pathfinder.Official.Web.Shared.Layout;
@using Silvester.Pathfinder.Official.Web.Components.Cards;
@using Silvester.Pathfinder.Official.Web.Components.Cards.Details.Instances;

@inherits BaseDetailPage
@page "/skills/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <SkillDetailsCard Entity="@Skill" />
        </MudPaper>
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "skill";
    protected override string? ResourceName => Skill?.Name;

    private IGetSkillById_Skills_Items? Skill { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderOfficialApi.GetSkillById
            .Watch(ResourceId)
            .Select(e => e.Data?.Skills?.Items?.FirstOrDefault())
            .Subscribe(skill =>
            {
                Skill = skill;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}